@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodape.css");


:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --branco: #FFFFFF;
    --rosa-degrade: linear-gradient(97.54deg, #ffafbd 35.49%, #ffdbe1 165.37%);
    --fonte-principal: "Poppins";
    --rosa: #ffc0cb;
    --fonte-secundario: "Josefin Sans";
    --preto: #000000;
    --rosa: #ffc0cb;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}